
{% extends "polls/base.html" %}
<h1>Hello there from pool index</h1>
{% block titles %}Welcome to Polls App{% endblock %}

{%  block containers %}

    <h1>Total number of questions {{count}}</h1>
    {% for item in data %}
                            <article>
                                <h2 class="article-title"><a href="{% url 'polls:detail' item.id %}" >{{ item.title }}</a></h2>
                            </article>
    {% empty %}
        <h2> No posts available</h2>
    {% endfor %}

{% endblock %}