{% extends "polls/base.html" %}

{% block titles %}Blogs List{% endblock %}
{% block containers %}
    Totals posts {{ data|length }}
    {% for item in data reversed %}
        <article>
            <h3><a href="{% url 'blogs:detail' item.id %}" >{{ item.title|title }}</a></h3>
            <p>Author: {{ item.author }} Created: {{ item.created|timesince }} Category: {{ item.category.title }}</p>
            <p>{{ item.description|truncatewords:"10" }}</p>
        </article>
     {% empty %}
        <h1> No data to display</h1>
    {% endfor %}

{% endblock %}