{% extends "blogs/base.html" %}


{% block title %}Blogs List{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        Welcome {{ user.username }} <a href="/signout">Logout</a>
    {% else %}
        Welcome Guest. <a href="/signin">Login</a>
    {% endif %}
    Totals posts {{ data|length }}
    {% for item in data reversed %}
        <div class="card mb-3">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ item.title|title }}</h5>
            <p class="card-text">{{ item.description|truncatewords:"10" }}</p>
            <a href="{% url 'blogs:detail' item.id %}" class="btn btn-primary">Read More</a>
          </div>
          <div class="card-footer text-muted">
            {{ item.created|timesince }}
          </div>
        </div>

     {% empty %}
        <h1> No data to display</h1>
    {% endfor %}

{% endblock %}